body, html {
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 100%; 
  overflow: hidden; /* Prevents scrolling on the entire webpage */
}

#app {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.chat-container {
  width: 50%;
}

.problems-solutions-container {
  width: 50%;
}


